.nav {
  position: fixed;
  background: #622954;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  padding: 0 32px;
  justify-content: space-between;
  z-index: 10;
}

.nav__list {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 16px;
}

.nav__item a {
  text-decoration: none;
  color: white;
}

.container {
  margin-top: 54px;
  padding: 10px;
}

.form-wrapper {
  text-align: center;
}

.form {
  display: inline-block;
  padding: 80px;
  background: #808F7C;
}

.form__row {
  margin-bottom: 12px;
}

.comments {
  width: 800px;
  margin: 0 auto;
  margin-top: 30px;
}

.comment {
  margin-bottom: 12px;
  background: #CA7853;
  padding: 16px;
  border: 1px solid #ececec;
  position: relative;
}

.comment__content {
  margin: 12px 0px;
}

.sub-comments {
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
}

.sub-comment {
  margin-bottom: 12px;
  background: #6A4C9C;
  padding: 16px;
  border: 1px solid #ececec;
  position: relative;
}

.add-sub-comment {
  margin-bottom: 12px;
  background: #6A4C9C;
  padding: 16px;
  border: 1px solid #ececec;
}

.sub-comment__content {
  margin: 12px 0px;
}

.delete-comment {
  position: absolute;
  top: 5px;
  right: 10px;
}

.delete-comment input[type=submit], .edit-comment input[type=submit]  {
  width: 100px;
  font-size: 25px;
}

.btn {
  width: 100px;
  background: white;
  color: black;
  border: 1px solid black;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.edit-comment {
  position: absolute;
  top: 5px;
  right: 120px;
}

.page {
  text-align: center;
  margin-top: 20px;
}

.page a {
  margin-left: 10px;
}